#products-index .card-body-custom img {
  vertical-align: middle;
  width: 250px;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

#root {
  font-family: Consolas;
  background-image: url('./assets/white_wall_hash.webp');

}

#products-index .card-body-custom {
  text-align: center;
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* Changed from 'center' to 'flex-start' */
  align-items: center;
}